<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div class="row">
    <table class="table table-striped" border="0">
        <%--
        <thead bgcolor="#FF0000" border="1">--%>
        <thead bgcolor="#002E5B" border="1">
        <tr style="border: none;">
            <th class="header-top-panel">
                User
            </th>

            <th class="header-top-panel">
                Sex
            </th>

            <th class="header-top-panel">
                Age
            </th>

        </tr>
        </thead>

        <!--<tr th:object="${user}" style="border: none;">
            <td ><a th:text="${user.lastName}"></a></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.email}"></td>
        </tr>-->
    </table>
</div>
</body>
</html>